.technology-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.technology-card{
    width: 8.5rem;
}

.technology-card-img{
    margin-bottom: .5rem;
}

.technology-foto{
    width: 128px;
}

.technology-card-text{
    text-align: center;
}