<div class="about-container content-wrapper">
    <h2 class="about-title title">Sobre mi</h2>
    <div class="about-content">
      <div class="about-description">
        <h3>Soy Front-End Developer, Ingeniero Mecatrónico y bailarin.</h3>
        <p>Me apasiona la danza, la tecnología y el código. Soy autodidacta, resiliente y me agrada trabajar en equipo. Me considero una persona muy paciente. Me gustan los desafios, ya que disfruto mucho aprender cosas nuevas.</p>
        <button type="button" class="btn btn-primary">Ver Curriculum</button>
      </div>
      <figure class="about-figure figure">
        <img src="assets/fotoWelcome.jpg" class="about-foto" alt="...">
      </figure>
    </div>
</div>
