.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6rem;
}

.about-description-text{
  width: 700px;
  margin-top: 1rem;
}

.about-foto{
    border-radius: 50%;
    width: 300px; 
    height: 300px;
}
