<div class="contact-content content-wraper">
    <div class="contact-title-container">
      <h2 class="contact-title">¿Deseas contactarme?
        <br>
        escribribeme a
        <a href="mailto:Manuelmarin1994@gmail.com">Manuelmarin1994@gmail.com</a>
      </h2> 
    </div>
    <div class="contact-subtitle-container">
      <h3>con gusto te leeré</h3>
      <h3 class="contact-subtitle">Tambien puedes encontrarme en
        <br>
        <a href="#">Linkedin</a> o <a href="#">Github</a>
      </h3>
    </div> 
  </div>