<!-- nav -->
<app-navbar class="navbar fixed-top navbar-expand navbar-light bg-light px-3"></app-navbar>

<!-- section welcome -->
<app-welcome class="welcome section-container bg-primary"></app-welcome>

<!-- section technology -->
<app-technology  class="technology section-container bg-light" id="technology"></app-technology>

<!-- section projects  -->
<app-projects class="projects section-container bg-primary" id="projects"></app-projects>

<!-- section about -->
<app-about class="about section-container bg-light" id="about"></app-about>

<!-- section contact -->

<app-contact class="contact section-container bg-primary" id="contact"></app-contact>

<!-- footer -->

<app-footer class="footer bg-light"></app-footer>